<p>Rest-api Component</p>

<div>
    Example : calling json get request <br>
    <button (click)="onClick('callJsonGetRestApi')">Call Api </button> <br> <br>

    Response: <br><br>
    <b> {{callJsonGetRestApiResponse}}</b>
</div>

<br>

<div>
    Example : calling json post  request <br>
    <button (click)="onClick('callJsonDataRestApi')">Call Api</button> <br> <br>
    Response: <br><br>
   <b> {{callJsonDataRestApiResponse}}</b>
</div>

<br>

<div>
    Example : calling form date post request <br>
    <button (click)="onClick('callFormDataRestApi')">Call Api</button> <br> <br>
    Response: <br><br>
    <b>  {{callFormDataRestApiResponse}}</b>
</div>

<br>
